#content {
    width: 450px;
    margin: 0 auto;
    padding: 0px 20px 20px;
    background: lightgoldenrodyellow;
    border: 2px solid black;
}

h1{
    color: blue;
}

input[type="text"], input[type="number"]{
    border: 1px solid dashed;
    background-color: gainsboro;
    width: 200px;
}

.fieldInfo{
    color: blue;
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    font-weight: bold;
}

.success{
    color: blue;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
}

.fails{
    color: blue;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
}

input[type="submit"]{
    color: white;
    font-size: 1.0em;
    font-family: Bitter, Georgia, Times, "Times New Roman",serif;
    width: 200px;
    height: 40px;
    background-color: navy;
}